{% extends 'base.html' %} {% block title %}Library - My Flask Site{% endblock %}
{% block content %}
<div class="container mt-5">
  <h1>Library</h1>
  <p class="mb-1">More references to come !!</p>
  <p class="mt-0">Click Headings to See References</p>

  <h2>
    <a
      href="{{ url_for('animals') }}"
      class="text-decoration-underline text-dark"
      >Animals</a
    >
  </h2>

  <h2>
    <a
      href="{{ url_for('people_moving') }}"
      class="text-decoration-underline text-dark"
      >People moving</a
    >
  </h2>
</div>

{% endblock %}
